table{
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .responsive-table-container {
    overflow-x: auto; /* Permite desplazamiento horizontal en pantallas pequeñas */
  }
  .table-btn-actions { 
    justify-content: space-around;
    width: 115px;
    /* align-items: end; */
  }